.member {
  background-color: rgb(240, 240, 240);
  padding: 15px;
  width: 30%;
  display: inline-flex;
  margin: 5px;
  border-radius: 10px;
  .pic {
    display: block;
    width: 10em;
    height: auto;
    float: left;
    > * {
      margin: 0 auto;
      border-radius: 10px;
    }
  }
  .content {
    padding-left: 15px;
    .person {
      display: flex;
      padding-top: 10px;
      font-size: 30px;
      font-weight: 500;
    }

    .title {
      padding-top: 10px;
      font-size: 20px;
      font-weight: 400;
    }

    .bio {
      padding-top: 5px;
    }
  }
}
