.homepage-wrapper {
  background-color: rgb(58, 58, 58);
  height: 728px;
  overflow: auto;
  .homepage-contents {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 210px;
    text-align: center;
    .homepage-header {
      background-color: #ffcd00;
      width: 400px;
      height: 80px;
      display: inline-flex;
      border-radius: 20px;
      .homepage-header-text {
        margin-left: auto;
        margin-right: auto;
        color: #232528;
        font-size: 50px;
        font-weight: 600;
        .homepage-BC {
          color: #800000;
        }
      }
    }

    .homepage-statement {
      margin-top: 60px;
      color: #ffcd00;
      font-size: 20px;
      font-weight: 200;
    }
  }
}
